// Styling for the download section
section.download {
    padding-top: 100px;
    background-color: #fffff;

    h2 {

        margin-top: 0;
    }

    .badges {
        .badge-link {
            display: block;
            margin-bottom: 25px;

            &:last-child {
                margin-bottom: 0;
            }

            img {
                height: 60px;
            }

            @media(min-width: 768px) {
                display: inline-block;
                margin-bottom: 0;
            }


        }
    }

    .green_circle {

        top: -50px;

        left: 90%;



        z-index: 100;

        max-width: 97px;

        @media(min-width: 768px) {
            top: -80px;

            left: 90%;

            z-index: 100;

            max-width: 161px;
        }

        @media (min-width: 992px) { 
top: -100px;

left: 90%;

z-index: 100;

max-width: 262px;
         }
    }

    .red-div {
        padding-top: 100px;

        .red_circle {

            top: -25px;

            right: 95%;

            width: 30%;

            max-width: 47px;

            @media(min-width: 768px) {
                top: -35px;

                right: 96%;

                width: 30%;

                max-width: 79px;
            }

                 @media (min-width: 992px) { 
                      max-width: 158px;
                      top: -60px;
    right: 80%;
   
    max-width: 158px;
         }
        }
    }

    .inner {
        background-color: $theme-black;
        padding-top: 50px;
        padding-bottom: 50px;
    }

}