.why-us {
    
background-color: white;
  h1 {
    font-weight: bold;
   
  }

  .subheading {
  
    font-weight: normal;
  }

  .row {
    margin-top: 10%;
  }

img{
  max-width: 60%;
  @media (min-width: 768px) { max-width: 100%;}
}

}

