.mail{
	margin:0;
	padding:0;
	background-color:#87cefa;

	.logo{

	}

	.emailBody{
	

	}

	.footer{
			background-color:transparent;
			div{
			Margin:0 auto;
			word-wrap:break-word;
			word-break:break-word;
			background-color:#525252;
				.social-holder{
				
				}
			}

	}
}