.contact{
  background-color: #ffffff;
    a{
        color:$theme-black;
        text-decoration: none;
    &:focus,
    &:hover,
    &.focus {
        color: $theme-red;
    }
 
    }


.contact-circle{
    top: -1px;
    left: 20%;
    z-index: 1;

}
button{
  @include primary-white-button;
    z-index: 1000;

}
}